.button-convert {
    width: 5rem;
    padding-right: 135px;
    height: 4.2rem;
    text-align: center;
    font-size: 150%;
    border-radius: 0.8rem;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem grey;
  }